<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <a href="./" class="footer__logo">
        <img src="./img/logo2.webp" alt="" />
      </a>

      <small class="footer__text">
        Продолжая использование нашего сайта, вы подтверждаете, что ознакомлены
        и соглашаетесь с нашей <a href="#">Политикой конфиденциальности</a> и 
        <a href="#"> Политикой использования cookies </a>. Мы используем cookies
        для улучшения функциональности сайта, анализа его использования и
        персонализации контента. Вы можете настроить параметры cookies в вашем
        браузере, но учтите, что это может повлиять на работу некоторых функций
        сайта.
      </small>
    </div>
    <div class="footer__bottom">
      <small class="footer__copy">
        DewinLinks © 2025 Все права защищены.
      </small>
      <small class="footer__copy">
        <a href="https://dewin.digital">dewin.digital</a>
      </small>
    </div>
  </div>
</footer>
